* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 10px;
}

.wrapper .forgot {
    margin-bottom: 10px;
}

.wrapper .log{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 40px;
}

.forgot a {
    color: rgb(247, 233, 209);
}

.register a {
    color: rgb(247, 233, 209);;
}

.input .error {
    color: red;
    font-size: 14px;
}

.input .loginMsg {
    color: rgb(26, 175, 26);
    font-size: 14px;
}